body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 1000px;
}

body {
	background-image: url(/static/movie/img/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.li-menu {
	display: inline-block;
	position: relative;
	background-color: #666666;
	width: auto;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: white;
	font-size: 18px;
	border: 1px solid black;
	border-bottom: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-left: -1px;
	padding: 0 10px;
	cursor: pointer;
}

.li-menu:hover {
	background-color: #2b2b2b;
}

.li-switch {
	display: block;
}
.li-switch a {
	color: white;
	text-decoration: none;
}
.li-switch a:hover {
	text-decoration: underline;
}

.film-block {
	border-top: 1px solid #404040;
	border-bottom: 1px solid #171717;
}

.a-name {
	color: white;
	cursor: pointer;
}
.a-name:hover {
	color: white;
	text-decoration: underline;
}

.btn-watch-online {
	width: 80px;
	height: 20px;
	color: white;
	background-color: #404040;

}

.btn-watch-trailer {
	display: inline-block;
	height: 20px;
	color: white;
	background-color: #404040;
	font-size: 14px;
	padding: 0 5px;
	text-align: center;
	line-height: 20px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.btn-watch-trailer:hover {
	background-color: #171717;
}

#trailer {
	display: none;
	position: fixed;
	left: 0;top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
}

#open-auth:hover {
	text-decoration: underline;
}

#auth-block, #registration-block {
	display: none;
	position: absolute;
	right: 30px;
	top: 30px;
	background-color: white;
	width: 230px;
	border: 1px solid black;
	border-radius: 5px;
	padding-bottom: 5px;
}

.auth-input {
	position: relative;
	width: 200px;
	margin: 5px 0;
	margin-left: 15px;
	border: 2px solid lightblue;
	border-radius: 5px;
	padding-left: 2px;
}

#register-link:hover, #auth-link:hover {
	text-decoration: underline;
}

.error {
	color: red;
	font-size: 12px;
	width: 100%;
	margin-left: 15px;
	margin-bottom: 0;
}

#auth-button {
	width: 60px;
	height: 25px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 1px 5px;
	line-height: 20px;
	padding-bottom: 3px;
	margin-left: 15px;
	cursor: pointer;
}

#auth-button:hover {
	text-decoration: underline;
	background-color: darkgreen;
}